# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
*.egg-info/
dist/
build/

# LaTeX
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc

# OS
.DS_Store
Thumbs.db
*~

# IDE
.vscode/
.idea/
*.swp
*.swo
.venv/lib64
.venv/pyvenv.cfg
.venv/bin/python3
.venv/bin/python
.venv/bin/python3.12
